@import './product-card/index.css';

.store-app {
    justify-content: center;
    margin: 32px 230px 0 16px;
}
.store-product {
    margin-top: 40px;
}
.store-pagination {
    margin-bottom: 128px;
}
.store-filter {
    position: relative;
    top: 10px;
    z-index: 0;
}