.basket-card {
    margin: 10px;
    width: 500px;
    height: 70px;
}
.basket-card__text {
    justify-content: center;
}
.basket-card__btn-delete {
    border: none;
    background-color: white;
    margin-left: 15px;
}
.basket-card__name {
    width: 230px;
}
.basket-card__price {
    width: 75px;
}