.product-card {
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 2px 2px 5px -1px gray;
    width: 500px;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
}
.product-card__first-col {
    flex-basis: 160px;
}
.product-card__description {
    line-height: 20px;
    height: 60px;
    overflow: hidden;
}
.product-card__price {
    text-align: end;
}
.product-card__info {
    display: flex;
    flex-direction: column;
}
.product__card-wrap {
    border: none !important;
    background-color: white !important;
}